<% title "Skolpt | Dashboard" %>

<div class="container">
  <div class="col-md-3 profile-col">
    <div class="row">
      <div class="profile-image">
        
      </div>
    </div>
    
    <div class="row">
      <% if @user.first_name? && @user.last_name? %>
          <h4><%= @user.first_name + " " + @user.last_name %></h4>
      <% end %>
    </div>
    
    <div class="row">
      <p class="profile-label"><strong>Email</strong></p>
      <p><%= @user.email %></p>
    </div>
    
    <div class="row">
      <%= link_to "Edit", edit_user_registration_path(@user), class: "btn btn-xs btn-primary " %>
    </div>
    
  </div>
  
  <div class="col-md-6">
    Feed
  </div>
  
  <div class="col-lg-3">
    Goals
  </div>
</div>