<% title "Skolpt | Blogs" %>

<h1>Blog</h1>

<% @blogs.each do |blog| %>
  <div class="row">
    <div class="blog-container col-md-8">
      <h3><%= link_to blog.title, blog_path(blog) %></h3>
      <p>
        <%= simple_format(blog.byline) %>
      </p>
      <p>
        <span class="quiet"><%= time_ago_in_words(blog.updated_at) %> ago | Posted by: Admin</span>
      </p>
    </div>
  </div>

<% end %>

<!-- Add this to paginate your page, given the pagination details -->
<%= will_paginate %>