<variation class="detail-variation row">
  <div class="md-col-12">
    <h1 class="variation-detail-name"> <%= @variation.name %> </h1>
  </div>
  
  <div class="variation-detail-description well md-col-12">
    <h3> Description </h3>
    <p> <%= simple_format(@variation.description) %> </p>
  </div>
  
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "Edit Variation", edit_variation_path(@variation), class: "btn btn-primary btn-lg btn-space" %>
    <%= link_to "Delete Variation", variation_path(@variation), method: :delete, 
              data: { confirm: "Are you sure you want to delete the variation?" },
              class: "btn btn-danger btn-primary btn-lg btn-space" %>
  <% end %>
</variation>