<div class="container">
<footer>
  <div class="row">
    <hr />
    <div class="pull-left col-xs-3">
      <p><span class="copyright">Copyright 2016 &copy; Skolpt</span></p>
    </div>
    <div class="pull-right col-xs-9 text-right">
      <%= link_to "About", '/about' %>
      <%= link_to "Contact", '/contact' %>
      <%= link_to "Blog", blogs_path %>
      <%= link_to "Disclaimer", '/disclaimer' %>
    </div>
  </div>
</footer>
</div>