<h1>About</h1>

<div class="col-md-8">
  <p>
    Skolpt is a health and fitness platform that aims to change the landscape of 
    health and fitness apps around the world. For years the world of health and
    fitness has been locked behind the pay walls of diet companies, 12 Week 
    Transformation programs and get fit quick schemes to help you build "abs of 
    steel" or "lose that belly fat in 3 simple steps".
  </p>
  <p>
    This is where Skolpt is different. We want to build a <strong>free</strong> 
    platform that does the following things:
    <ul>
      <li><strong>Focuses on You:</strong> We are not about making you the 
      product like the multitude of other health and fitness platforms, apps and
      devices out on the market, this is why we are a free resource with a clean
      and simple interface. It is so that we can focus on providing you with the 
      information you need without hassle or detracting from the overall 
      experience.</li>
      <li><strong>We are community first:</strong> Where you see the majority of
      health and fitness apps talking about individual experiences and usage, 
      Skolpt has a very direct road map of building a platform that is centered
      around building communities, forming relationships and connecting you with
      positivity to ensure you can stick to your goals and achieve the results 
      that you want.</li>
      <li><strong>Keeping it Simple:</strong> We realised out of our own
      frustrations that understanding everything about health and fitness is
      like navigating a minefield in the middle of the night without a 
      flashlight, basically meaning that unless you know some aspects of 
      human anatomy or general science you are having to constantly research 
      everything you do. Instead we are cutting the bullshit, we want to give 
      you exactly the information you need, quickly, simply and accurately, 
      hopefully ingraining this into your memory and giving you the confidence
      to continue in your health and fitness endeavours.</li>
    </ul>
  </p>
  <p>
    These are the three simple things that wanted us (at Skolpt) to build such
    a platform, in fact we sincerely hope that you enjoy using Skolpt and 
    working with us to build a truly great platform that millions (we are 
    optimistic) will enjoy using.
  </p>
</div>