<% title "Skolpt | Disclaimer" %>

<div class="container">
<h1>Disclaimer</h1>
<p>
  Skolpt is an independently owned and operated platform in health and fitness.
  The information contained on this platform is the Intellectual Property of 
  Skolpt and is not to be reproduced without prior consent from the founders of
  Skolpt. Should this information be reproduced without consent, you will be 
  pursued in accordance with the law.
</p>
<p>
  Skolpt advises that you should always consult your physician or other 
  healthcare professional or healthcare providers before embarking on any 
  exercise program or changing your diet. You should also understand that all
  exercises do have an element of risk to them that may result in injury if not
  executed correctly.
</p>
<p>
  All users who use this platform and/or sign up to this platform assume full 
  responsibility for any and all injuries, losses and damages that are incurred
  as a result of information that can be obtained from Skolpt. Users hereby 
  waive all claims against Skolpt, its founders and any associated members of 
  Skolpt individually or otherwise, for any and all injuries, claims or damages
  that you may incur.
</p>
</div>