<div class="row">
  <div class="jumbotron bg">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>Welcome to Skolpt, we are a community striving to build a place where 
      <strong>you</strong> are given the power to share routines and complete 
      workouts without hassle.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up Today!</a></p>
    </div>
  </div>
</div>