<h1>Your feedback is important to us</h1>

<div class="row">
  <div class="col-md-8">
    <h4>A Personal Note from the Founders:</h4>
    <p>
      It is really hard to emphasize just how important it is to us that you guys 
      and girls provide us with any sort of feedback. Whether it is good, bad or
      indifferent we would quite honestly love to hear from you.
    </p>
    <p>
      You may be thinking, <emphasize>"My feedback won't really make an 
      impact"</emphasize>... That is quite seriously not the case. We built Skolpt
      on the very premise of community, actively seeking to provide the most 
      accurate and true information in the most simple way possible or a platform
      that can be used by everyone.
    </p>
    <p>
      The reality is that we are just two guys, we don't have all of the answers,
      and we do make mistakes... literally hundreds, possibly thousands, but who's
      counting. The point is that your feedback could quite possibly be integrated
      as we progress through further iterations of development. As such we would
      love it if you left your email so that we can communicate with you all to
      let you know exactly what your feedback has done for Skolpt.
    </p>
    <p>
      So please, leave your most honest feedback and we will be in touch as soon
      as we can.
    </p>
    <p>
      - The Skolpt Founders
    </p>
  </div>
</div>

<h2>Your Feedback</h2>

<%= render 'form' %>