<% title "Skolpt | Users" %>

<div class="container">
<h1>List of Users</h1>
  <p>
  <% @user.each do |user| %>
  <div>
    <%= link_to user.email %>

    |  <strong>Logged in count</strong> <%= user.sign_in_count %>
    |  <strong>Last signed in</strong> <%= user.last_sign_in_at %>
    |  <strong>Provider</strong> <%= user.provider %>
  </div>
  <% end %>
  
  </p>
</div>