@import "bootstrap-sprockets";
@import "bootstrap";

.admin-nav {
  background: #e7e7e7;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.author {
  font-style: italic;
  padding-left: 15px;
  padding-top: 15px;
}

.banner {
  background: #287B54;
  margin-top: -20px;
  padding-bottom: 90px;
  padding-top: 30px;
}

.banner-noimage {
  background: #287B54;
  margin-top: -20px;
  padding-bottom: 60px;
  padding-top: 60px;
}

.blog-container {
  margin-bottom: 20px;
}

.blog-container h3 a {
  color: #287B54;
  font-weight: bold;
  text-decoration: none;
}

.blog-container h3 a:hover {
  color: #48BC7D;
}

.blog-detail-container {
  margin-left: 15px;
}

body {
  background: #FFFFFF;
  color: #15231a;
  padding-top: 50px;
  height: 100%;
}

.bold {
  font-weight: bold !important;
}

.btn-primary-variation {
  background: #48BC7D;
  color: #ffffff;
}

.btn-space {
  margin-top: 20px;
}

.category-description {
  font-size: 1.5em;
}

.category-name {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.copyright {
  font-weight: normal;
  text-transform: none;
}

.detail-exercise {
  margin-top: 20px;
}

.dropdown-menu li {
  font-size: 0.9em;
  letter-spacing: 0;
  text-transform: none;
}

.dropdown-menu li i {
  font-size: 1.2em;
}

.exercise-description {
  font-size: 1.5em;
  padding-left: 0.7em;
}

.exercise-detail-category {
  color: #48BC7D;
}

.exercise-detail-description {
  margin: 0;
  margin-bottom: 1em;
}

.exercise-detail-description h3 {
  margin: 0;
}

.exercise-detail-description p {
  font-size: 1.1em;
  font-weight: bold;
}

.exercise-detail-name {
  margin: 0;
}

.exercise-detail-summary {
  margin: 0;
  margin-bottom: 1em;
}

.exercise-detail-summary h3 {
  margin: 0;
}

.exercise-detail-summary p {
  font-size: 1.1em;
}

.exercise-heading {
  color: #FFFFFF;
  font-weight: bold;
  line-height: 0.5em;
}

.exercise-image {
  background: #FFFFFF;
  border: 5px solid #000000;
  text-align: center;
}

.exercise-image img {
  max-width: 100%;
}

.exercise-name {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

.exercise-summary {
  font-size: 1.5em;
  padding-left: 0.7em;
}

.exercise-variation-description {
  border: 5px solid #000000;
  margin-bottom: 15px;
  min-height: 120px;
  padding: 15px;
}

.exercise-variation-description h3 {
  margin: 0;
  margin-bottom: 0.4em;
}

.exercise-variation-description p {
  font-size: 1.1em;
}

.filter-fields {
  list-style: none;
  padding: 0;
}

.filter-fields a {
  text-transform: none;
}

footer {
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

footer a {
  color: #287B54;
}

footer a:hover {
  color: #48BC7D;
  text-decoration: none;
}

.footer-push {
  padding-bottom: 50px;
}

.form-horizontal .form-group {
  margin: 0;
}

.green-heading {
  color: #287B54;
}

h3 a {
  color: #287B54;
  font-weight: bold;
}

h3 a:hover {
  color: #48BC7D;
}

input[type=text], textarea, select, .uneditable-input {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  width: 100%;
}

#landing {
  position: relative;
  width: 100%;
  min-height: 100%;
  color: white;
  text-align: right;
}

#landing img {
  float: left;
}

.main-image-container {
  margin-top: -60px;
}

.thumbnail-image-container {
  margin-top: -60px;
  width: 40px;
  height: 20px;
}

.navbar {
  background: #48BC7D;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.navbar-collapse {
  box-shadow: none;
}

.navbar-default {
  border-color: #48BC7D;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #48BC7D;
  color: #000000;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
}

.navbar-default .navbar-brand img {
  height: 40px;
  margin-top: -10px;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #287B54;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: #48BC7D;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFFFFF;
}

.navbar-default .navbar-toggle {
  border: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #48BC7D;
}

.navbar-form {
  box-shadow: none;
}

.navbar-right {
  margin-right: 1px;
}

#new-exercise-btn {
  margin-bottom: 10px;
}

.pagination li a {
  border: none;
  color: #287B54;
}

.routine-heading {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
}

.routine-description {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.routine-outline {
  margin-top: 4em;
}

.table thead tr>th {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.table tbody tr td {
  padding: 20px;
}

.pagination li a:hover {
  border: none;
  color: #48BC7D;
}

.pagination .active a {
  background: #48BC7D;
  border: none;
}

.pagination .active a:hover {
  background: #287B54;
  border: none;
}

.profile-col {
  
}

.profile-col h4 {
  margin-bottom: 30px;
}

.profile-image {
  
}

.profile-label {
  line-height: 0em;
}

.quiet {
  color: #d2d2d2;
}

.subheading {
  background: #48BC7D;
  border-bottom: 3px solid #287B54;
  color: #FFFFFF;
  letter-spacing: 1px;
  padding: 3px;
}

.votes {
  font-size: large;
  font-style: bold;
  padding-left: 15px;
  padding-top: 15px;
}

.voting {
  color: #CDCDCD;
}

.voting:hover {
  color: #287B54;
  text-decoration: none;
}