<category class="detail-category">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <h1 class="category-detail-name"><%= @category.name %></h1>

  <h2 class="category-detail-description">  Description</h2>
  <div class="category-description">
    <%= @category.description %>
  </div>
  
  <% if athlete_signed_in? && athlete_user.admin? %>
    <%= link_to "Edit Category", edit_category_path(@category), class: "btn btn-primary btn-lg btn-space" %>
    <%= link_to "Delete Category", category_path(@category), method: :delete, 
              data: { confirm: "Are you sure you want to delete the category?" },
              class: "btn btn-danger btn-primary btn-lg btn-space" %>
  <% end %>
</article>

<hr>
