<div class="row">
  <div class="col-md-12">
    <h1>All Exercises</h1>
  </div>
</div>

<% @exercises.each do |exercise| %>
<div class="row">
  <div class="col-md-8">
    <h3><%= link_to exercise.name, exercise_path(exercise) %></h3>
    <p><%= exercise.description %></p>
  </div>
</div>
<% end %>

<div class="row">
  <!-- Add this to paginate your page, given the pagination details -->
  <%= will_paginate @exercises, :previous_label => '<i class="glyphicon glyphicon-chevron-left"></i>', :next_label => '<i class="glyphicon glyphicon-chevron-right"></i>' %>
</div>